.app{
  display: flex;
  justify-content: space-between;
}

.signup,input,button,.login{
  display:block;
  margin:10px;
  padding:5px;
}
button{
  padding:10px 65px;
  border:2px;
  border-radius:10px;
}

.login{
  margin-left:100px;
}


